<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ventas - El Paisa Digital</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{fragments/layout :: topbar}"></div>
    <div class="contenedor">
        <div class="encabezado-pagina">
            <div>
                <h1>Ventas registradas</h1>
                <p>Ultimo mes de operacion.</p>
            </div>
            <a th:href="@{/ventas/nueva}" class="btn">+ Nueva venta</a>
        </div>

        <table>
            <thead>
                <tr><th>ID</th><th>Fecha</th><th>Sede</th><th>Items</th><th>Total</th></tr>
            </thead>
            <tbody>
                <tr th:each="v : ${ventas}">
                    <td th:text="${v.idVenta}"></td>
                    <td th:text="${#temporals.format(v.fechaHora, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="${v.sede.nombre}"></td>
                    <td th:text="${v.totalItems}"></td>
                    <td th:text="'S/ ' + ${v.total}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
